In [1]:
import pandas as pd
import requests
import arrow
import requests

In [2]:
csv_path = "Surf.csv"

In [4]:
surf = pd.read_csv(csv_path, encoding="utf-8")
surf.head()

        spot  longitude  latitude  spot_id
0     Thurso  58.598988 -3.509359       47
1    Fistral  50.416497 -5.099329        1
2     Easkey  54.292499 -8.952585     1501
3  Manorbier  51.642795 -4.803594      993
4  Carbedelo  41.677002 -8.829828      193

In [5]:
surf_cali = surf.loc[(surf['longitude']< 43) & (surf['longitude']>32)]

In [6]:
surf_cali_df = surf_cali.loc[(surf_cali['latitude']> -123) & (surf_cali['latitude']< -113)]
surf_cali_df.reset_index(drop=True)

                         spot  longitude    latitude  spot_id
0                       Ponto  33.088162 -117.314436     1149
1              Cabrillo Point  33.706658 -118.285149      284
2                   Haggertys  33.802507 -118.400664      282
3                 Skunk Point  33.982632 -119.983868     1251
4                       Secos  34.038334 -118.879119      278
..                        ...        ...         ...      ...
58                  The Wedge  33.592853 -117.881037      287
59  Torrey Pines Blacks Beach  32.889556 -117.253649      295
60                   Trestles  33.385308 -117.593936      291
61               Venice Beach  33.984676 -118.470325       58
62     Zuma Beach County Park  34.021802 -118.831190      853

[63 rows x 4 columns]

In [7]:
surfcali1 = surf_cali_df.round(3)

In [8]:
for x, y in zip(surfcali1['latitude'],surfcali1['longitude']):
    print(f'{x}, {y}')

-117.314, 33.088
-118.285, 33.707
-118.401, 33.803
-119.984, 33.983
-118.879, 34.038
-119.303, 34.273
-119.882, 34.409
-120.054, 34.461
-121.121, 35.582
-121.977, 36.596
-122.026, 36.952
-121.972, 36.955
-121.844, 36.288
-119.843, 34.406
-117.32, 33.103
-121.93, 36.552
-120.906, 35.449
-118.96, 34.051
-117.257, 32.796
-122.216, 37.025
-119.917, 34.432
-119.412, 34.338
-118.004, 33.655
-120.501, 34.511
-117.774, 33.535
-122.502, 37.599
-118.194, 33.77
-118.194, 33.77
-118.417, 33.772
-118.8, 34.008
-118.396, 33.885
-121.862, 36.932
-122.537, 37.831
-122.497, 37.496
-117.251, 32.771
-121.114, 35.576
-120.866, 35.392
-120.866, 35.392
-121.791, 36.815
-117.93, 33.619
-117.829, 33.58
-117.251, 32.756
-120.612, 35.099
-117.385, 33.195
-117.258, 32.796
-119.388, 34.319
-118.806, 34.001
-119.407, 34.336
-117.719, 33.477
-117.621, 33.419
-118.5, 34.013
-117.255, 32.864
-118.107, 33.738
-117.142, 32.635
-117.276, 32.996
-117.292, 33.035
-117.273, 32.85
-120.499, 34.508
-117.881, 33.593
-117.254, 32.89
-117.594, 33.385
-118.47, 33.985
-118.831, 34.022

In [9]:
# Get first hour of today
start = arrow.now().floor('day')

# Get last hour of today
end = arrow.now().ceil('day')

response = requests.get(
  'https://api.stormglass.io/v2/weather/point',
  params={
    'lat': 34.022,
    'lng': -118.831,
    'params': ','.join(['waveHeight', 'airTemperature']),
    'start': start.to('UTC').timestamp(),  # Convert to UTC timestamp
    'end': end.to('UTC').timestamp()  # Convert to UTC timestamp
  },
  headers={
    'Authorization': 'd87dfa70-985c-11ed-b59d-0242ac130002-d87dfade-985c-11ed-b59d-0242ac130002'
  }
)

# Do something with response data.
json_data = response.json()

In [10]:
windspeed = []
winddirection = []
waveheight = []
airtemp = []
watertemp = []
cloudcover = []
gust = []
precipitation = []
visibility = []
wavedirection = []

url = 'https://api.stormglass.io/v2/weather/point'
for x, y in zip(surfcali1['latitude'], surfcali1['longitude']):
    try:
        lat = (f'{y}')
        lng = (f'{x}')

        params ={
            'lat': lat,
            'lng': lng,
            'params': ','.join(['waveHeight', 'airTemperature', 'windSpeed', 'windDirection', 'waterTemperature','cloudCover','gust','precipitation','visibility','waveDirection']),
            'start': start.to('UTC').timestamp(),  # Convert to UTC timestamp
            'end': end.to('UTC').timestamp()  # Convert to UTC timestamp
        }
        headers ={
        'Authorization': 'd87dfa70-985c-11ed-b59d-0242ac130002-d87dfade-985c-11ed-b59d-0242ac130002'
        }

        response = requests.get(url, params=params, headers=headers)
        json_data3 = response.json()

        windspeed_data = json_data3['hours'][0]['windSpeed']['sg']
        winddirection_data = json_data3['hours'][0]['windDirection']['sg']
        waveheight_data = json_data3['hours'][0]['waveHeight']['sg']
        airtemp_data = json_data3['hours'][0]['airTemperature']['sg']
        watertemp_data = json_data3['hours'][0]['waterTemperature']['sg']
        cloudcover_data = json_data3['hours'][0]['cloudCover']['sg']
        gust_data = json_data3['hours'][0]['gust']['sg']
        precipitation_data = json_data3['hours'][0]['precipitation']['sg']
        visibility_data = json_data3['hours'][0]['visibility']['sg']
        wavedirection_data = json_data3['hours'][0]['waveDirection']['sg']

        windspeed.append(windspeed_data)
        winddirection.append(winddirection_data)
        waveheight.append(waveheight_data)
        airtemp.append(airtemp_data)
        watertemp.append(watertemp_data)
        cloudcover.append(cloudcover_data)
        gust.append(gust_data)
        precipitation.append(precipitation_data)
        visibility.append(visibility_data)
        wavedirection.append(wavedirection_data)

    except:
        print('failed')
        print(f'at {x},{y}')

In [11]:
json_data3['hours'][1]['windDirection']['icon']

22.82

In [12]:
df = pd.DataFrame({"wind_speed":windspeed,
                    "wind_direction":winddirection,
                    "wave_height":waveheight,
                    "air_temp":airtemp,
                    "water_temp":watertemp,
                    "cloud_cover":cloudcover,
                    "gust":gust,
                    "precipitation": precipitation,
                    "visibility":visibility,
                    "wave_direction":wavedirection

})

In [13]:
df

,wind_speed,wind_direction,wave_height,air_temp,water_temp,cloud_cover,gust,precipitation,visibility,wave_direction
0,1.25,36.83,2.15,15.21,14.90,0.0,3.16,0.0,24.13,285.81
1,0.94,351.33,1.12,14.84,14.53,0.0,3.06,0.0,24.13,267.20
2,0.94,351.33,1.83,14.60,14.33,0.0,1.93,0.0,24.13,276.83
3,1.55,13.67,2.68,14.14,13.44,0.0,2.39,0.0,24.13,289.58
4,4.87,27.29,1.91,14.47,14.10,0.0,4.59,0.0,24.13,277.95
...,...,...,...,...,...,...,...,...,...,...
58,2.10,6.23,1.12,15.64,14.62,0.0,7.13,0.0,24.13,267.20
59,1.25,36.83,2.15,15.21,14.90,0.0,3.16,0.0,24.13,285.81
60,1.22,38.59,1.12,11.85,14.78,0.0,3.76,0.0,24.13,267.20
61,0.94,351.33,1.83,14.60,14.18,0.0,1.93,0.0,24.13,276.83
62,3.78,20.93,1.73,14.47,14.22,0.0,4.59,0.0,24.13,273.76

In [14]:
surfcali1.reset_index(inplace=True)
surfcali1

    index                       spot  longitude  latitude  spot_id
0      41                      Ponto     33.088  -117.314     1149
1      42             Cabrillo Point     33.707  -118.285      284
2      43                  Haggertys     33.803  -118.401      282
3      44                Skunk Point     33.983  -119.984     1251
4      45                      Secos     34.038  -118.879      278
..    ...                        ...        ...       ...      ...
58    258                  The Wedge     33.593  -117.881      287
59    263  Torrey Pines Blacks Beach     32.890  -117.254      295
60    265                   Trestles     33.385  -117.594      291
61    268               Venice Beach     33.985  -118.470       58
62    277     Zuma Beach County Park     34.022  -118.831      853

[63 rows x 5 columns]

In [15]:
combined = surfcali1.join(df, how='left')

In [16]:
combined

,index,spot,longitude,latitude,spot_id,wind_speed,wind_direction,wave_height,air_temp,water_temp,cloud_cover,gust,precipitation,visibility,wave_direction
0,41,Ponto,33.088,-117.314,1149,1.25,36.83,2.15,15.21,14.90,0.0,3.16,0.0,24.13,285.81
1,42,Cabrillo Point,33.707,-118.285,284,0.94,351.33,1.12,14.84,14.53,0.0,3.06,0.0,24.13,267.20
2,43,Haggertys,33.803,-118.401,282,0.94,351.33,1.83,14.60,14.33,0.0,1.93,0.0,24.13,276.83
3,44,Skunk Point,33.983,-119.984,1251,1.55,13.67,2.68,14.14,13.44,0.0,2.39,0.0,24.13,289.58
4,45,Secos,34.038,-118.879,278,4.87,27.29,1.91,14.47,14.10,0.0,4.59,0.0,24.13,277.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,258,The Wedge,33.593,-117.881,287,2.10,6.23,1.12,15.64,14.62,0.0,7.13,0.0,24.13,267.20
59,263,Torrey Pines Blacks Beach,32.890,-117.254,295,1.25,36.83,2.15,15.21,14.90,0.0,3.16,0.0,24.13,285.81
60,265,Trestles,33.385,-117.594,291,1.22,38.59,1.12,11.85,14.78,0.0,3.76,0.0,24.13,267.20
61,268,Venice Beach,33.985,-118.470,58,0.94,351.33,1.83,14.60,14.18,0.0,1.93,0.0,24.13,276.83
62,277,Zuma Beach County Park,34.022,-118.831,853,3.78,20.93,1.73,14.47,14.22,0.0,4.59,0.0,24.13,273.76

In [17]:
from sqlalchemy import create_engine

In [18]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [19]:
from sqlalchemy import Column, Integer, String, Float

In [20]:
engine = create_engine("sqlite:///surf.sqlite")

In [21]:
combined.to_sql(name='current_surf', con=engine, if_exists='replace', index=False)

In [22]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'surf_DB'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

ModuleNotFoundError: No module named 'psycopg2'

In [23]:
engine.table_names()

/Users/jenny/opt/anaconda3/envs/pythondata1/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['current_surf']

In [24]:
combined.to_sql(name='current_surf', con=engine, if_exists='replace', index=False)

In [25]:
pd.read_sql_query('select * from current_surf', con=engine).head()

,index,spot,longitude,latitude,spot_id,wind_speed,wind_direction,wave_height,air_temp,water_temp,cloud_cover,gust,precipitation,visibility,wave_direction
0,41,Ponto,33.088,-117.314,1149,1.25,36.83,2.15,15.21,14.90,0.0,3.16,0.0,24.13,285.81
1,42,Cabrillo Point,33.707,-118.285,284,0.94,351.33,1.12,14.84,14.53,0.0,3.06,0.0,24.13,267.20
2,43,Haggertys,33.803,-118.401,282,0.94,351.33,1.83,14.60,14.33,0.0,1.93,0.0,24.13,276.83
3,44,Skunk Point,33.983,-119.984,1251,1.55,13.67,2.68,14.14,13.44,0.0,2.39,0.0,24.13,289.58
4,45,Secos,34.038,-118.879,278,4.87,27.29,1.91,14.47,14.10,0.0,4.59,0.0,24.13,277.95

In [26]:
combined.dtypes

index               int64
spot               object
longitude         float64
latitude          float64
spot_id             int64
wind_speed        float64
wind_direction    float64
wave_height       float64
air_temp          float64
water_temp        float64
cloud_cover       float64
gust              float64
precipitation     float64
visibility        float64
wave_direction    float64
dtype: object